
<head>
 <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
 <script src='lib/jquery.min.js'></script>
 <script src='lib/moment.min.js'></script>
 <script src='fullcalendar/fullcalendar.js'></script>
</head>



<div id="calendar"></div>

<h1>Calenders#index</h1>
<p>Find me in app/views/calenders/index.html.erb</p>

